<h1>Listing all Stores: </h1>

<table>
  <tr>
    <th>name</th>
    <th>address</th>
  </tr>
  <% stores = Store.all %>
  <% stores.each do |store| %>
  <tr>
    <td><%=	store.name  %></td>
    <td><%=	store.address  %></td>
    <td><%=	link_to "Edit", edit_store_path(store.id)  %></td>
    <td><%=	link_to "Delete", store, method: :delete  %></td>
  </tr>
  <% end %>
  <% if stores.size == 0 %>
    <em>No Stores Found</em>
  <% end %>
</table>